/* NAVBAR */
.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* normal nav links */
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* register button */
.nav-links a.btn {
  background: white;
  color: #0d6efd; /* IMPORTANT */
  padding: 6px 14px;
  border-radius: 4px;
}

/* logout button */
.logout-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}
